<%- include ('partials/header.ejs') %>

    <h1>Bem-vindo(a) à Página de Clientes!</h1>

    <hr>

    <h2> Lista de Clientes </h2>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th> Nome </th>
                <th> CPF </th>
                <th> Endereço </th>
            </tr>
        </thead>
        <tbody>
            <% clientes.forEach(cliente => { %>
                <tr>
                    <td><a href="perfil"> <%= cliente.nome, %> </a></td>
                    <td> <%= cliente.cpf, %> </td>
                    <td> <%= cliente.endereco %> </td>               
                </tr>
            <% }) %>
        </tbody>
    </table>

    <hr>

    <a href="/"> Home </a>
    
<%- include ('partials/footer.ejs') %>