<%- include ('partials/header.ejs') %>

    <h1>Bem-vindo(a) à Página de Pedidos</h1>
    
    <hr>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th> Número </th>
                <th> Produto </th>
                <th> Valor do Pedido </th>
            </tr>
        </thead>
        <tbody>
            <% pedidos.forEach(pedido => { %>
                <tr>
                    <td> <%= pedido.numero %> </td>
                    <td> <%= pedido.produto %> </td>
                    <td> <%= pedido.valor.toLocaleString('pr-br',
                        {style: 'currency', currency:'BRL'}) %> 
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <hr>

    <a href="/"> Home </a>
    
<%- include ('partials/footer.ejs') %>