<%- include ('partials/header.ejs') %>

    <h1>Bem-vindo(a) à página de Produtos!</h1>

    <hr>

    <h2> Lista de Produtos </h2>
    <!-- <%= %> é apenas para variáveis -->
    <!-- <%#= %> funciona para comentar -->
    <%#= produtos %>

    <!-- Percorrendo(iterando) a lista de produtos com forEach -->
    <ul>
        <% produtos.forEach(produto => { %>

        <li> <%= produto.nome, %> </li>
        <li> 
            <%= produto.preco.toLocaleString('pt-br',
            {style: 'currency', currency: 'BRL'}) %> 
        </li>
        <br>

        <% }) %>
    </ul>

    <hr>

    <a href="/"> Home </a>

<%- include ('partials/footer.ejs') %>