<%- include('partials/header.ejs'); %>
<%- include('partials/navbar.ejs'); %>

<div class="container">
    <div class="card">
    <div class="card-header">
        <h1>Livros</h1>
    </div>

    <div class="card-body">
        <h2>Deseja deixar um novo livro? Criatura interessante...</h2>
        <form method="post" action="/livros/new">
            <label class="form-label">Titulo</label>
            <input class="form-control" type="text" name="titulo">

            <label class="form-label">Autor</label>
            <input class="form-control" type="text" name="autor">

            <label class="form-label">Ano</label>
            <input class="form-control" type="number" name="ano">
            <br>

            <button class="btn btn-success" type="submit">Entregar</button>
        </form>
    </div>
    <hr>

    <div class="card-body">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Ano</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% livros.forEach(livro => { %>
                <tr>
                    <td>
                        <%= livro.titulo %>
                    </td>
                    <td>
                        <%= livro.autor %>
                    </td>
                    <td>
                        <%= livro.ano %>
                    </td>
                
                    <td>
                        <a href="livros/delete/<%= livro.id %>" class="btn btn-danger"
                        onclick="return confirm('Deseja destruir todo o conhecimento presente em <%= livro.titulo %>, mortal insolente?')">
                            Destruir
                        </a>
                        <a href="livros/edit/<%= livro.id %>" class="btn btn-warning">Modificar</a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>

<%- include('partials/footer.ejs'); %>