<%- include('partials/header.ejs'); %>
<%- include('partials/navbar.ejs'); %>

<div class="container">
    <div class="card">
    <div class="card-header">
        <h1>Livros</h1>
    </div>

    <!-- <div class="card-body">
        <h2>Deseja deixar um novo livro? Criatura interessante...</h2>
        <form action="livros/create" method="post">
            <label class="form-label">Titulo</label>
            <input class="form-control" type="text" name="titulo">

            <label class="form-label">Autor</label>
            <input class="form-control" type="text" name="autor">

            <label class="form-label">Ano</label>
            <input class="form-control" type="number" name="ano">
            <br>

            <button class="btn btn-success" type="submit">Entregar</button>
        </form>
    </div>
    <hr> -->

    <div class="card-body">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Ano</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% Livro.forEach(livro => { %>
                <tr>
                    <td>
                        <%= livro.titulo %>
                    </td>
                    <td>
                        <%= livro.autor %>
                    </td>
                    <td>
                        <%= livro.ano %>
                    </td>
                <% }); %>
                    <td>
                        <!-- <button class="btn btn-danger">
                            <a href="livros/delete/<%= livro.id %>" onclick="return 
                            confirm('Deseja destruir todo o conhecimento presente em <%= livro.titulo %>, mortal insolente?')"></a>
                            Destruir
                        </button>
                        <button class="btn btn-warning">
                            <a href="livros/update/<%= livro.id %>" class="link"></a>
                            Modificar
                        </button> -->
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

<%- include('partials/footer.ejs'); %>