<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Cadastrar Cliente</h1>
            </div>
            <div class="card-body">
                <form action="/clientes/update" method="post">
                    <input type="hidden" name="id" value="<%= cliente.id %>">

                    <label>Nome do cliente</label>
                    <input type="text" class="form-control" name="nome" placeholder="Insira o nome do cliente" 
                    value="<%= cliente.nome %>" required>

                    <label>CPF do cliente</label>
                    <input type="text" class="form-control" name="cpf" placeholder="Insira o CPF do cliente" 
                    value="<%= cliente.cpf %>" required>

                    <label>Endereço do cliente</label>
                    <input type="text" class="form-control mb-4" name="endereco" placeholder="Insira o endereço do cliente" 
                    value="<%= cliente.endereco %>" required>

                    <input type="submit" onclick="return confirm(`Confirma as alterações realizadas para o cliente <%= cliente.nome%>?`)"
                    class="btn btn-warning" value="Editar">

                    <a href="/clientes">
                        <input type="button" class="btn btn-danger" value="Cancelar">
                    </a>
                </form>
            </div>
        </div>
    </div>
    
    <%- include ('partials/footer.ejs') %>